body {
  font-weight: bolder;
  background-color: darkgray;
}

.jumbotron {
  text-align: center;
  background-color: white;
}

.jumbotron h1 {
  margin-bottom: 2rem;
}

.card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}